{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / Comics / {{comic.title}} {% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com / Comics / {{comic.title}}">
		<meta property="og:description" content="{{comic.title}}">
		<meta property="og:image" content="{{data.image_url}}">
  {% endblock %} 

{% block body %}
	{{ parent() }}
    <h2>{{comic.title}}</h2>

	<!-- <pre>{{comic|print_r}}</pre> -->
	<div class="viewer">
		<img src="{{data.image_url}}" class="hidden" />
	</div>
	<div class="viewer-instructions"><small>Use <- and -> to navigate</small></div>
	<div class="viewer-page"></div>
	<div class="viewer-thumbs"></div>
	<br />
	<div class="description panel panel-default">
		 <div class="panel-body">{{data.description|raw}}</div>
	</div>
	<div class="clearfix"></div>
	<br />
	

	<div class="well well-sm">
		<div class="fb-like" data-href="{{siteUrl('/contents/')}}{{data.id}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
		<div class="g-plusone" data-annotation="inline" data-width="150"></div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-via="dethbird">Tweet</a>
	</div>

	<div class="fb-comments" data-href="{{siteUrl('/contents/')}}{{data.id}}" data-numposts="10" data-colorscheme="light" ></div>
	<style>
		.viewer {
			position: relative;
			height:100%;
		}
		.viewer img {
			display: block;
			position: absolute;
		}
	</style>
	<script>
		$(document).ready(function(){

			// buildup comic viewer
			var comic = JSON.parse('{{comic|json_encode|raw}}');
			var frame_index;
			$('.viewer').css('cursor', 'pointer');
			$('.viewer').css('overflow', 'hidden');

			if(comic.viewerType == "frames") {
			
				frame_index = comic.viewerFrames.length-1;

				var nextFrame = function() {
					frame_index++;	
					if (frame_index == comic.viewerFrames.length) {
						frame_index = 0;
					}
					renderFrame();
				};

				var prevFrame = function() {
					frame_index--;	
					if (frame_index < 0) {
						frame_index = comic.viewerFrames.length-1;
					}
					renderFrame();
				}

				var renderFrame = function() {
					$('.viewer').animate(
						{
							'width' : comic.viewerFrames[frame_index][0]
						}, 
						1600,
						"easeOutElastic"
					);

					$('.viewer img').animate(
						{
							'margin-left' : comic.viewerFrames[frame_index][1]
						}, 
						400,
						"easeInOutCirc"
					);

					$('.viewer-page').html((frame_index + 1) + " of " + comic.viewerFrames.length);
				}

				$('.viewer').css('width', '0px');
				$('.viewer img').removeClass('hidden');


			} else if(comic.viewerType == "slides") {
				frame_index = comic.count;	

				$('.viewer').empty();
				$('.viewer').css("width", "600px");
				$('.viewer').css("height", "600px");
				$('.viewer').css("border", "1px solid lightgray");
				$('.viewer').css('position', 'relative');

				var slides = [];

				for(i=1; i<=comic.count; i++) {

					var file = String(i).length == 2 ? i : "0" + i;
					file+=".jpg";
					file = comic.slidePrefix + file;

					var img = $('<img />');
					img.attr('src', file);
					img.addClass("responsive");
					img.css("width", "600px");
					img.css("height", "600px");
					img.css("margin-left", "600px");
					img.css('z-index', 100 + 100 * i);

					img.appendTo('.viewer');

				}

				var renderFrameOut = function() {

					var slide = $($('.viewer img')[frame_index-1]);
					slide.css("margin-left", "600px");

				}

				var renderFrameIn = function() {

					var slide = $($('.viewer img')[frame_index-1]);
					slide.animate(
						{
							"margin-left" : "0"
						},
						800,
						"easeOutElastic"
					);
					$('.viewer-page').html(frame_index + " of " + comic.count);
				}

				var nextFrame = function() {
					renderFrameOut();
					if (frame_index == comic.count) {
						frame_index = 0;
					}
					frame_index++;
					renderFrameIn();

				};

				var prevFrame = function() {
					renderFrameOut();
					if (frame_index == 1) {
						frame_index = comic.count+1;
					}
					frame_index--;
					renderFrameIn();
				}



			}

			nextFrame();
			$('.viewer').click(nextFrame);

			$(document).on('keydown', function (e){
				if(e.keyCode==39){
					nextFrame();
				} else if(e.keyCode==37){
					prevFrame();
				}
			});

		});
	</script>

{% endblock %}

