{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / Comics / {{comic.title}} {% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com / Comics / {{comic.title}}">
		<meta property="og:description" content="{{comic.title}}">
		<meta property="og:image" content="{{data.image_url}}">
  {% endblock %} 

{% block body %}
	{{ parent() }}
	<!-- <ol class="breadcrumb">
	  <li>Art</li>
	  <li class="active"><a href="/galleries/{{data.gallery_id}}">{{data.gallery_name}}</a></li>
	</ol> -->
    <h2>{{comic.title}}</h2>

    {% if data.type=='image' %}
    	<!-- <pre>{{comic|print_r}}</pre> -->
    	<div class="viewer">
			<img src="{{data.image_url}}" class="hidden" />
		</div>
		<div class="viewer-page"></div>
		<div class="viewer-thumbs"></div>
	{% endif %}

    {% if data.type=='youtube' %}
		<img src="{{data.image_url|resizeImage(180,180)}}" class="img-rounded acb-youtube-thumb" data-youtube-link="{{data.youtube_link}}" data-title="{{data.name}}" >
	{% endif %}

	<div class="clearfix"></div>
	<br />
	<div class="row">
	  <div class="col-md-3 pull-left left  site-thumbnail">
	  	{% if data.prev %}
	  		<a href="/contents/{{data.prev.id}}" title="{{data.prev.name}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-arrow-left"></span> prev</a>
	  		<br />
	  		<a href="/contents/{{data.prev.id}}" title="{{data.prev.name}}"><img src="{{data.prev.image_url|resizeImage(90,90)}}" class="img-rounded" ></a>
	  	{% endif %}
	  </div>
	  <div class="col-md-3 pull-right right  site-thumbnail">
	  	{% if data.next %}
	  		<a href="/contents/{{data.next.id}}" title="{{data.next.name}}" class="btn btn-default btn-xs"> next <span class="glyphicon glyphicon-arrow-right"></span></a>
	  		<br />
	  		<a href="/contents/{{data.next.id}}" title="{{data.next.name}}"><img src="{{data.next.image_url|resizeImage(90,90)}}" class="img-rounded" ></a>
	  	{% endif %}
	  </div>
	</div>

	<div class="well well-sm">
		<div class="fb-like" data-href="{{siteUrl('/contents/')}}{{data.id}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
		<div class="g-plusone" data-annotation="inline" data-width="150"></div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-via="dethbird">Tweet</a>
	</div>

	<div class="fb-comments" data-href="{{siteUrl('/contents/')}}{{data.id}}" data-numposts="10" data-colorscheme="light" ></div>

	<script>
		$(document).ready(function(){


			// buildup comic viewer
			var comic = JSON.parse('{{comic|json_encode|raw}}');
			var frame_index;
			$('.viewer').css('cursor', 'pointer');
			$('.viewer').css('overflow', 'hidden');

			if(comic.viewerType == "frames") {
			
				frame_index = comic.viewerFrames.length-1;

				var nextFrame = function() {
					frame_index++;	
					if (frame_index == comic.viewerFrames.length) {
						frame_index = 0;
					}

					$('.viewer').animate(
						{
							'width' : comic.viewerFrames[frame_index][0]
						}, 
						1600,
						"easeOutElastic"
					);

					// $('.viewer img').css('margin-left', comic.viewerFrames[frame_index][1] + "px");
					
					$('.viewer img').animate(
						{
							'margin-left' : comic.viewerFrames[frame_index][1]
						}, 
						400,
						"easeInOutCirc"
					);

				};

				$('.viewer').css('width', '0px');
				$('.viewer img').removeClass('hidden');

				nextFrame();
				$('.viewer').click(nextFrame);

			} else if(comic.viewerType == "slides") {
				// console.log(comic.count);
				frame_index = comic.count;	

				$('.viewer').empty();
				$('.viewer').css("width", "600px");
				$('.viewer').css("height", "600px");
				$('.viewer').css("border", "1px solid lightgray");
				$('.viewer').css('position', 'relative');

				var slides = [];

				for(i=1; i<=comic.count; i++) {

					var file = String(i).length == 2 ? i : "0" + i;
					file+=".jpg";
					file = comic.slidePrefix + file;

					var img = $('<img />');
					img.attr('src', file);
					img.css('display', 'block');
					img.addClass("responsive");
					img.css("width", "600px");
					img.css("height", "600px");
					// img.css('position', 'relative');
					img.css('z-index', 100 + 100 * i);
					// img.addClass('hidden');

					slides.push(img);
					// img.appendTo('.viewer');

				}
				// console.log(slides);

				// console.log($('.viewer img')[3]);

				var renderFrame = function() {
					$('.viewer').empty();
					var next = slides[frame_index-1];
					$(next).appendTo('.viewer');

					// console.log($('.viewer-page'));
					$('.viewer-page').html(frame_index + " of " + comic.count);
				}

				var nextFrame = function() {

					if (frame_index == comic.count) {
						frame_index = 0;
					}
					frame_index++;
					renderFrame();

				};

				var prevFrame = function() {
					if (frame_index == 1) {
						frame_index = comic.count+1;
					}
					frame_index--;
					renderFrame();
				}

				nextFrame();
				$('.viewer').click(nextFrame);

				$(document).on('keydown', function (e){
					if(e.keyCode==39){
						nextFrame();
					} else if(e.keyCode==37){
						prevFrame();
					}
				});

			}


		});
	</script>

{% endblock %}

