{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - artwerks by Rishi Satsangi{% endblock %}

  {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com - artwerks by Rishi Satsangi">
		<meta property="og:description" content="Illustration, animation, and more by Rishi Satsangi">
		<meta property="og:image" content="http://imgsrc.artistcontrolbox.com/images/contents/2.jpg">
  {% endblock %} 

{% block headscript %}
<script>
	$(document).ready(function(){
		
		var regex = new RegExp("^(http[s]?:\\/\\/(www\\.)?|ftp:\\/\\/(www\\.)?|(www\\.)?){1}([0-9A-Za-z-\\.@:%_\‌​+~#=]+)+((\\.[a-zA-Z]{2,3})+)(/(.)*)?(\\?(.)*)?");

		$('div.row.recent-activity .recent-activity-body').each(function(){
			
			var that = $(this);
			
			var hashtag_regexp = /@([a-zA-Z0-9]+)/g;
			that.html(
				that.html().replace(
			        hashtag_regexp,
			        '<a class="mention" target="_blank" href="https://twitter.com/$1">@$1</a>'
		        )
		    );

		    var hashtag_regexp = /#([a-zA-Z0-9]+)/g;
			that.html(
				that.html().replace(
			        hashtag_regexp,
			        '<a class="hashtag" target="_blank">#$1</a>'
		        )
		    );

		    that.html(that.html().autoLink());
		});
	});
</script>
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container recent-activity">
		
	<h1>Latest</h1>
	{% for log in recentActivity %}
		<div class="row recent-activity">
		{% if log.name=="Flickr" %}
 			
 			<div class="activity-stamp well">
	 			<span class="activity-icon photo"></span> 
	 			<span class="date">{{log.date_added.date|date_format}}</span><br />
	 			via cameral roll
	 			<br />
 			</div>

 			<img src="https://farm{{log.json_decoded.photo.attributes.farm}}.staticflickr.com/{{log.json_decoded.photo.attributes.server}}/{{log.json_decoded.photo.attributes.id}}_{{log.json_decoded.photo.attributes.secret}}.jpg" class="img-thumbnail"/>
 			<br />
 			<div class="recent-activity-body">
	 			{{log.note}}<br />
 			</div>
 		{% elseif log.name=="Instagram" %}

 			<div class="activity-stamp well">
	 			<span class="activity-icon instagram"></span>
	 			<span class="date">{{log.date_added.date|date_format}}</span><br />
	 			<span class="user"><a href="http://instagram.com/{{log.json_decoded.user.username}}" target="_blank">@{{log.json_decoded.user.username}}</a></span>
	 		</div>
	 		<!--<pre>{{log|print_r}}</pre> -->
 			<a href="{{log.json_decoded.link}}" target="_blank"><img src="{{log.json_decoded.images.standard_resolution.url}}" class="img-thumbnail" /></a>
 			<br />

 			<div class="recent-activity-body">
	 			{{log.json_decoded.caption.text}}
	 			<br />
	 			<br />
 			</div>
 		{% elseif log.name=="Foursquare" %}

 			<div class="activity-stamp well">
	 			<span class="activity-icon foursquare"></span>
	 			<span class="date">{{log.date_added.date|date_format}}</span><br />
	 			<span class="user"><a href="https://foursquare.com/u/{{log.json_decoded.checkin.user.id}}" target="_blank">@{{log.json_decoded.checkin.user.firstName}} {{log.json_decoded.checkin.user.lastName}}</a></span>
	 		</div>
 			

 			<div class="recent-activity-body">
	 			<img src="http://maps.googleapis.com/maps/api/staticmap?center={% for addr in log.json_decoded.checkin.venue.location.formattedAddress %}{{addr}}{% endfor %}&zoom=15&size=450x250&maptype=roadmap
	&markers=color:red%7Clabel:A%7C{{log.json_decoded.checkin.venue.location.lat}},{{log.json_decoded.checkin.venue.location.lng}}" />
				<br />
	 			<a href="https://foursquare.com/v/{{log.json_decoded.checkin.venue.id}}" target="_blank">{{log.json_decoded.checkin.venue.name}}</a><br />
	 			{% for addr in log.json_decoded.checkin.venue.location.formattedAddress %}
	 				<small>{{addr}}</small><br />
	 			{% endfor %}
	 			{% for category in log.json_decoded.checkin.venue.categories %}
	 				<img src="{{category.icon.prefix}}bg_32{{category.icon.suffix}}" valign="middle" class="category"/> <small>{{category.name}}</small><br />
	 			{% endfor %}
	 			<br />
	 			{{log.json_decoded.checkin.venue.url}}<br />
	 			<a href="{{log.json_decoded.checkin.venue.menu.url}}" target="_blank">{{log.json_decoded.checkin.venue.menu.anchor}}</a><br />
	 			{{log.note}}<br />

	 			<!-- <pre>{{log|print_r}}</pre> -->
 			</div>




 			
		{% elseif log.name=="Thought" %}

 			<div class="activity-stamp well">
	 			<span class="activity-icon comment"></span>
	 			<span class="date">{{log.date_added.date|date_format}}</span><br />
	 			- Rishi
	 		</div>

 			<div class="recent-activity-body">
	 			{{log.note}}
	 			<br />
	 			<br />
 			</div>
 		{% elseif log.name=="Twitter" %}

 			<div class="activity-stamp well">
	 			<span class="activity-icon twitter"></span>
	 			<span class="date">{{log.date_added.date|date_format}}</span><br />
	 			<span class="user"><a href="http://twitter.com/{{log.json_decoded.user.name}}" target="_blank">@{{log.json_decoded.user.name}}</a></span>
	 		</div>

 			<div class="recent-activity-body">
	 			{{log.json_decoded.text|raw}}
	 			{% for url in log.json_decoded.entities.urls %}
	 				<br />
 					[ <a href="{{url.expanded_url}}" />{{url.expanded_url}}</a> ]
	 			{% endfor %}
	 			{% for media in log.json_decoded.entities.media %}
	 				<br />
	 				{% if media.type=="photo" %}
	 					<img src="{{ media.media_url|strip_tags }}" class="img-thumbnail" />
	 				{% endif %}
	 			{% endfor %}
	 			<br />
 			</div>
 			
 		{% endif %}
 		</div>
	{% endfor %}
	</div>

	<!-- <div class="row"><pre>{{recentActivity|print_r}}</pre></div> -->
{% endblock %}

