{% extends 'layout.html.twig' %}
{% block title %} - Project Storyboard Revision Revision{{revision.id == "" ? " Create" : "Edit"}}{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li><a href="/projects">Projects</a></li>
        <li>{{project.name}}</li>
        <li>Storyboards</li>
        <li>{{storyboard.name}}</li>
        <li>Panels</li>
        <li>{{panel.name}}</li>
        <li>Revision</li>
        <li class="active">{{revision.id == "" ? "Create" : "Edit"}}</li>
    </ol>
    <div class="container col-xs-12">
        <form id="revision-form">
            <input type="hidden" name="id" value="{{revision.id}}" />
            <input type="hidden" name="panel_id" value="{{panel.id}}" />
            <div class="form-group row">
                <label for="revision_name" class="col-xs-2 form-control-label">Content</label>
                <div class="col-xs-10">
                    <textarea class="form-control" name="content"  placeholder="Revision Content" rows="10">{{revision.content}}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="revision_name" class="col-xs-2 form-control-label">Description</label>
                <div class="col-xs-10 markdown-edit">
                    <textarea class="form-control markdown-edit-editor" name="description" id="description" placeholder="Revision Description" rows="10">{{revision.description}}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-10 col-xs-offset-2">
                    <a class="btn btn-success submit-button">Save</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/project/storyboard-panel-revision.js"></script>
{% endblock %}
