{% extends 'layout.html.twig' %}
{% block title %} - Project Character {{user.id == "" ? " Create" : "Edit"}}{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li><a href="/projects">Projects</a></li>
        <li>{{project.name}}</li>
        <li>User</li>
        <li class="active">Add</li>
    </ol>
    <div class="container col-xs-12">
        <form id="user-form">
            <input type="hidden" name="project_id" value="{{project.id}}" />
            <input type="hidden" name="id" value="" />
            <div class="form-group row">
                <label for="username" class="col-xs-2 form-control-label">Username</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" name="username" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-xs-2 form-control-label">Email</label>
                <div class="col-xs-10">
                    <input class="form-control" type="emai" name="email" id="email" placeholder="User Email">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-10 col-xs-offset-2">
                    <a class="btn btn-success submit-button">Save</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/project/user.js"></script>
{% endblock %}
