{% extends 'layout.html.twig' %}
{% block title %} - LikeDrop Flickr{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li>LikeDrop</li>
        <li class="active"><img src="/img/service/flickr/logo_sm.png" class="service-logo"/> Flickr</li>
        <li class="active">Recent Photos</li>
    </ol>
    <div class="container-fluid col-xs-12 content-container" data-service="flickr">
        {% if flickr_user %}
            {% for photo in flickr_photos %}
            {% set p = photo.json|json_decode(true) %}
                {#{% if loop.index ==1 %}
                <pre>{{p|print_r}}</pre>
                {% endif %}#}
                <div class="card col-xs-6 col-lg-3 col-xl-2">
                    <div class="card-block">
                        <div class="text-align-center">
                            <a target="_blank" href="https://www.flickr.com/photos/{{p.owner}}/{{p.id}}" title="View"><img src="https://farm{{p.farm}}.staticflickr.com/{{p.server}}/{{p.id}}_{{p.secret}}_m.jpg" /></a>
                        </div>
                        <a class="btn btn-secondary-outline btn-block" target="_blank" href="https://www.flickr.com/photos/{{p.owner}}/{{p.id}}"><img src="/img/service/flickr/logo_sm.png" class="service-logo"/></a>
                        <div class="date text-align-right">{{photo.date_added|time_ago}}</div>
                    </div>
                </div>

            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/likedrop.js"></script>
{% endblock %}
