{% extends 'layout.html.twig' %}
{% block title %} - LikeDrop Gdrive{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li><a href="#">LikeDrop</a></li>
        <li class="active"><img src="/img/service/gdrive/logo_sm.png" class="service-logo"/> Gdrive</li>
    </ol>
    <div class="row container-fluid col-xs-12 content-container" data-service="gdrive">

        {% if gdrive_user %}
            {% for file in gdrive_files %}
            {% set file_json = file.json|json_decode(true) %}
                <div class="card content col-xs-6 col-lg-3">
                    <div class="card-block">
                        <div class="display-6">{{file_json.name|raw}}</div>
                        {% if file_json.mimeType=="image/jpeg" or file_json.mimeType=="image/png" or  file_json.mimeType=="image/x-photoshop" %}
                            <a href="{{file_json.webViewLink|raw}}" target="_blank" title="view">
                                <img src="http://{{hostname}}/service/gdrive/thumbnail/{{file_json|google_drive_thumbnail_filename}}"/>
                            </a>
                        {% endif %}
                        <a href="{{file_json.webViewLink|raw}}" target="_blank" class="btn-sm btn btn-secondary-outline"><img src="{{file_json.iconLink|raw}}" /> </a>
                        <br />
                        <label class="tag">{{file_json.folder|raw|google_drive_foldername}}</label>
                        <div class="date text-align-right">{{file_json.modifiedByMeTime|time_ago}}</div>
                    </div>
                </div>

                {% if loop.index is divisible by(4) %}
                    <div class="row"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/likedrop.js"></script>
{% endblock %}
