{% extends 'layout.html.twig' %}
{% block title %} - LikeDrop Spotify{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li><a href="#">LikeDrop</a></li>
        <li class="active"><img src="/img/service/spotify/logo_sm.png" class="service-logo"/> Spotify</li>
    </ol>
    <div class="container-fluid col-xs-12 content-container" data-service="spotify">
        {% if spotify_user %}
            {% for track in spotify_tracks %}
            {% set t = track.json|json_decode(true) %}
                {# {% if loop.index == 1 %}
                    <pre>{{t|print_r}}</pre>
                {% endif %} #}
                <div class="card col-xs-6 col-lg-3 col-xl-2">
                    <div class="card-block">
                        <div class="display-6">{{t.track.name}}</div>
                        {% for artist in t.track.artists %}
                            <div>by {{artist.name}}</div>
                        {% endfor %}
                        <div class="muted">from {{t.track.album.name}}</div>
                        {% for pic in t.track.album.images %}
                            {% if pic.width >= 600 and pic.width < 900 %}
                                <a href="{{t.track.external_urls.spotify}}" target="_blank" title="Listen"><img src="{{pic.url}}" /></a>
                            {% endif %}
                        {% endfor %}
                        <a class="btn btn-secondary-outline btn-block" target="_blank" href="{{t.track.external_urls.spotify}}"><img src="/img/service/spotify/logo_sm.png" class="service-logo"/></a>
                        <div class="date text-align-right">{{track.date_added|time_ago}}</div>
                    </div>
                </div>

            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/likedrop.js"></script>
{% endblock %}
