{% extends 'layout.html.twig' %}
{% block title %} - LikeDrop YouTube{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li><a href="#">LikeDrop</a></li>
        <li class="active"><img src="/img/service/youtube/logo_sm.png" class="service-logo"/> YouTube</li>
    </ol>
    <div class="container-fluid col-xs-12 content-container" data-service="youtube">
        {% if gdrive_user %}
            {% for video in youtube_watchlater_videos %}
            {% set v = video.json|json_decode(true) %}

                <div class="card col-xs-6 col-lg-2">
                    <div class="card-block">
                        <div class="display-6">{{v.snippet.title|raw}}</div>
                        <a target="_blank" href="https://www.youtube.com/watch?v={{v.snippet.resourceId.videoId|raw}}" title="Watch"><img src="{{v.snippet.thumbnails.high.url}}" /></a>
                        <blockquote>{{v.snippet.description|truncate(200)|markdown}}</blockquote>
                        <a class="btn btn-secondary-outline btn-sm" target="_blank" href="https://www.youtube.com/watch?v={{v.snippet.resourceId.videoId|raw}}"><img src="/img/service/youtube/logo_sm.png" class="service-logo"/></a>
                        <div class="date text-align-right">{{video.date_added|time_ago}}</div>
                    </div>
                </div>

                {% if loop.index is divisible by(6) %}
                    <div class="row"></div>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/likedrop.js"></script>
{% endblock %}
