{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container col-xs-6">
        <h1><img src="/img/service/gdrive/logo_sm.png" class="service-logo"/> Google Drive</h1>
        {% if gdrive_user %}
            {# }<pre>{{ gdrive_user|print_r }}</pre> #}
            {% for file in gdrive_files %}
            {% set file_json = file.json|json_decode(true) %}
                <div class="content container col-xs-12 col-lg-6">
                    {# <pre>{{file_json|print_r}}</pre> #}
                    {% if file_json.mimeType=="image/jpeg" or file_json.mimeType=="image/png" or  file_json.mimeType=="image/x-photoshop" %}
                    <img src="http://{{hostname}}/service/gdrive/thumbnail/{{file_json.headRevisionId}}.{% if file_json.fileExtension == "psd" %}png{% else %}{{ file_json.fileExtension }}{% endif %}" class="col-xs-12"/>
                    {% endif %}
                    <a href="{{file_json.webViewLink|raw}}" class="title"><img src="{{file_json.iconLink|raw}}" /> {{file_json.name|raw}}</a>
                    <br />
                    {{file_json.folder|raw}}<br />
                    <span class="date">{{file_json.modifiedByMeTime|time_ago}}</span>
                </div>
                {% if loop.index is divisible by(2) %}
                <div class="row"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container col-xs-6">
        <h1><img src="/img/service/pocket/logo_sm.png" class="service-logo"/>Pocket</h1>
        {% for article in pocket_articles %}
        {% set article_json = article.json|json_decode(true) %}
            <div class="content container col-xs-12 col-lg-6">
                {# <pre>{{article_json|print_r}}</pre> #}
                {% if article_json.tags|length > 0 %}
                    {% for k, tag in article_json.tags %}
                    <label class="tag">{{k}}</label>
                    {% endfor %}
                    <br />
                {% endif %}
                <a href="{{article_json.resolved_url|raw}}" class="title">{{article_json.resolved_title|raw}}</a>
                <br />
                <span class="date">{{article_json.time_added|date_format('l F j, Y, g:i a')|time_ago}}</span>
                {% if article_json.favorite == 1 %} +1 {% endif %}
                <br />
                {% if article_json.has_image %}
                    <img src="{{article_json.image.src}}" class="col-xs-12"/>
                    <br />
                {% endif %}
                <blockquote>{{article_json.excerpt|raw}}</blockquote>
                <a href="{{article_json.resolved_url|raw}}" class="btn btn-info btn-sm">{{article_json.resolved_url|url_hostname}}</a>
                <a href="https://getpocket.com/a/read/{{article_json.item_id}}" class="btn btn-primary-outline btn-sm"><img src="//{{hostname}}/img/service/pocket/logo_sm.png" class="service-logo-manage"/> Manage</a>
            </div>
            {% if loop.index is divisible by(2) %}
            <div class="row"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/dashboard.js"></script>
{% endblock %}
