{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <script type="text/javascript">
        var layout = {{layout|json_encode|raw}};
    </script>
    <div id="container" class="object">
      {% for object in layout.objects %}
        {% if object.image_url %}
        <img
          src="{{object.image_url}}"
          id="{{object.id}}"
          class="object
          {% if object.click_scroll %} click-scroll{% endif %}
          {% if object.rotate %} rotate{% endif %}
          {% if object.flicker %} flicker{% endif %}
          {% if object.slide_in %} slide-in{% endif %}
          {% if object.always_on_top %} always-on-top{% endif %}
          {% if object.sequence %} sequence{% endif %}
          {% if object.from_to %} from-to{% endif %}
          {% if object.popup_banner %} popup-banner-trigger{% endif %}
          {% if object.hotspot %} hotspot{% endif %}
          {% if object.popup_slideshow %} popup-slideshow-trigger{% endif %}
          {% if object.parallax %} parallax{% endif %}
          "
          style="top: {{object.location.top}}px; left: {{object.location.left}}px; width: {{object.dimensions.width}}px; height: {{object.dimensions.height}}px;"
          {% if object.alt %} title="{{object.alt}}"{% endif %}
        />
        {% endif %}
      {% endfor %}
      {% for object in layout.text %}
        <div
          id="{{object.id}}"
          class="object text
          {% if object.slide_in %} slide-in{% endif %}"
          style="top: {{object.location.top}}px; left: {{object.location.left}}px; overflow-y: {{object.overflow.y}}; overflow-x: {{object.overflow.x}}; width: {{object.dimensions.width}}px; height: {{object.dimensions.height}}px; text-align: {{object.text_align}};"
        >{{object.copy|raw|markdown}}</div>
      {% endfor %}

      {% for object in layout.popup_banner %}
        <div id="{{object.id}}" class="popup-content">{{object.copy|raw|markdown}}</div>
      {% endfor %}
      <div id="popup_banner">
        <div class="row">
          <div class="pull-right popup-controls">
            <i class="fa fa-times fa-5 close" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="popup-content-body col-xs-12"></div>
        </div>
      </div>
      {% for slideshow in layout.popup_slideshow %}
        {% for object in slideshow.slides %}
        <div id="{{slideshow.id}}{{loop.index0}}" class="popup-content">
          <div class="row">
            <div class="col-xs-12 popup-media">
              {% if object.image_url %}
                <img src="{{object.image_url}}" class="popup-slideshow-image {{object.orientation}}"/>
              {% endif %}
              {% if object.markup %}
                {{object.markup|raw|markdown}}
              {% endif %}
            </div>
            <div class="col-xs-12 caption">
              {{object.caption|raw}}
            </div>
          </div>
        </div>
        {% endfor %}
      {% endfor %}

      <div id="popup_slideshow_top_controls">
        <div class="row popup-controls">
          <div class="pull-left">
            <span class="title">Farts</span>
            <span class="indicator">1/12</span>
          </div>
          <div class="pull-right">
            <i class="fa fa-caret-left fa-5 prev" aria-hidden="true"></i>
            <i class="fa fa-caret-right fa-5 next" aria-hidden="true"></i>
            <i class="fa fa-times fa-5 close" aria-hidden="true"></i>
          </div>
        </div>
        <div class="row">
          <div class="popup-content-body col-xs-12"></div>
        </div>
      </div>

      <div id="popup_slideshow">
        <div class="row">
            <div class="popup-content-body col-xs-12"></div>
            <div class="popup-controls top-controls col-xs-12">
              <i class="fa fa-times fa-5 close pull-right" aria-hidden="true"></i>
            </div>
            <div class="popup-controls center-controls col-xs-12">
                <i class="fa fa-caret-left fa-5 prev pull-left" aria-hidden="true"></i>
                <i class="fa fa-caret-right fa-5 next pull-right" aria-hidden="true"></i>
            </div>
        </div>
      </div>


    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/index.js"></script>
{% endblock %}
