{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
  <br />
  <div class="expanded row">
  <div class="col-xs-12 col-md-3">
      <div class="card">
          <img class="card-img-top" src="{{profile_photo}}" alt="Card image cap" >
          <div class="card-block">
              <p class="card-text">Outta my way, kid. Ya' bother me. I got cartoons to make.</p>
              <div class="row">
                <div class="col-lg-12">
                  <a class="btn btn-great-outline btn-xs btn-block"  id="intro-great-button">Great!</a>
                </div>
              </div>
              <br />
              <a class="btn btn-social-icon btn-instagram" href="http://www.instagram.com/dethbird" target="_blank"><span class="fa fa-instagram"></span></a>
              <a class="btn btn-social-icon btn-tumblr" href="http://sneh.tumblr.com" target="_blank"><span class="fa fa-tumblr"></span></a>
              <a class="btn btn-social-icon btn-spotify" href="https://open.spotify.com/user/1267654234" target="_blank"><span class="fa fa-spotify"></span></a>
              <a class="btn btn-social-icon btn-wordpress" href="http://blog.rishisatsangi.com/" target="_blank"><span class="fa fa-wordpress"></span></a>
              <a class="btn btn-social-icon btn-pinterest" href="https://www.pinterest.com/dethbird/" target="_blank"><span class="fa fa-pinterest"></span></a>
              <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/dethbird" target="_blank"><span class="fa fa-twitter"></span></a>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-map"></i> East Village, NYC</li>
              <li class="list-group-item"><i class="fa fa-briefcase"></i> <a href="http://theorchard.com" target="_blank">The Orchard</a></li>
              <li class="list-group-item"><i class="fa fa-paint-brush"></i> <a href="http://dethbird.com" target="_blank">http://dethbird.com</a></li>
          </ul>
      </div>
      <h4 class="display-4 section-title">Instagram:</h4>
      {% for post in instagram_posts %}
      <!-- <pre>{{post|print_r}}</pre> -->

      <div class="card{% if loop.index > 6%} hidden-sm-down{% endif %}" >
          <a href="{{post.link}}" target="_blank"><img class="card-img-top" src="{{post.images.low_resolution.url}}"/></a>
          <div class="card-block">
            <p class="card-text">
              {{post.caption.text}}
              {% if post.likes.count > 0 %}
              <small class="label label-info"><i class="fa fa-heart"></i> {{post.likes.count}}</small>
              {% endif %}
              {% if post.comments.count > 0 %}
              <small class="label label-info"><i class="fa fa-comment"></i> {{post.comments.count}}</small>
              {% endif %}
            </p>

          </div>
      </div>
      {% endfor %}
      <div class="row">
        <div class="col-lg-12">
          <a href="https://www.instagram.com/dethbird" target="_blank" title="Instagram..." class="btn btn-success-outline btn-lg btn-block"><i class="fa fa-external-link"></i> More...</a>
        </div>
      </div>
      <br />
      <br />
  </div>
  <div class="col-xs-12 col-md-6">
      <div class="card  hidden-sm-down bg-inverse">
          <img class="card-img" src="https://c1.staticflickr.com/3/2651/4195888027_2977562c88_b.jpg" />
          <!-- <img class="card-img" src="https://c1.staticflickr.com/5/4012/4195889061_df74fb2e3b_b.jpg" /> -->
          <div class="card-img-overlay">
              <h4 class="display-4">Howdy.</h4>
              <p class="lead">Below is the very latest:</p>
          </div>
      </div>

      <h4 class="display-4 section-title">Current Projects:</h4>
      {% for slug, project in projects %}
        {% include "partials/project_card.html.twig" with {'columns':12} %}
      {% endfor %}
      <div class="row">
        <div class="col-lg-12">
          <a href="/projects" title="More projects..." class="btn btn-success-outline btn-lg btn-block">More...</a>
        </div>
      </div>
      <br />
      <br />
      <h4 class="display-4 section-title">Latest Comics:</h4>
      {% for slug, comic in comics %}
        {% include "partials/comic_card.html.twig" with {'columns':12} %}
      {% endfor %}
      <div class="row">
        <div class="col-lg-12">
          <a href="/comics" title="More comics..." class="btn btn-success-outline btn-lg btn-block">More...</a>
        </div>
      </div>
      <br />
      <br />
      <h4 class="display-4 section-title">Artworks:</h4>
      {% for content in gallery.content %}
      {% if content.featured=="true" %}
        {% include "partials/gallery_content_thumbnail.html.twig" %}
      {% endif %}
      {% endfor %}
      <div class="row">
        <div class="col-lg-12">
          <a href="/gallery" title="More artworks..." class="btn btn-success-outline btn-lg btn-block">More...</a>
        </div>
      </div>
      <br />
      <br />
  </div>
  <div class="col-xs-12 col-md-3">
      <h4 class="display-4 section-title">Articles:</h4>
      {% for article in pocket_articles %}
        {% include "partials/article_thumbnail.html.twig" with {'columns':12} %}
      {% endfor %}
      <div class="row">
        <div class="col-lg-12">
          <a href="/articles" title="More articles..." class="btn btn-success-outline btn-lg btn-block">More...</a>
        </div>
      </div>
  </div>
  {% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/index.js"></script>
{% endblock %}
