{% extends 'layout.html.twig' %}
{% block title %} - LikeDrop{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container-fluid col-xs-12">
        <div class="btn-group" role="group" id="contentSelector">
            <a type="button" class="btn btn-secondary btn-lg dropdown-toggle  displayed-item col-xs-11"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/img/service/gdrive/logo_sm.png" class="service-logo"/> Google Drive </a>
            <div class="dropdown-menu col-xs-11">
                <a class="dropdown-item" data-service="gdrive"><img src="/img/service/gdrive/logo_sm.png" class="service-logo"/> Google Drive</a>
                <a class="dropdown-item" data-service="pocket"><img src="/img/service/pocket/logo_sm.png" class="service-logo"/>Pocket</a>
                <a class="dropdown-item" data-service="youtube"><img src="/img/service/youtube/logo_sm.png" class="service-logo"/>YouTube</a>
            </div>
        </div>
    </div>
    <div class="container-fluid col-xs-12 content-container" data-service="gdrive">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th class="col-xs-3">Modified</th>
                    <th class="col-xs-3">Filename</th>
                    <th class="col-xs-3">Location</th>
                    <th class="col-xs-3">Preview</th>
                </tr>
            </thead>
            <tbody>
                {% if gdrive_user %}
                    {% for file in gdrive_files %}
                    {% set file_json = file.json|json_decode(true) %}
                        <tr>
                            <td class="col-xs-3">
                                <span class="date">{{file_json.modifiedByMeTime|time_ago}}</span>
                            </td>
                            <td class="col-xs-3">
                                <a href="{{file_json.webViewLink|raw}}" class="title"><img src="{{file_json.iconLink|raw}}" /> {{file_json.name|raw}}</a>
                            </td>
                            <td class="col-xs-3">
                                <label class="tag">{{file_json.folder|raw|google_drive_foldername}}</label>
                            </td>
                            <td class="col-xs-3">
                                {% if file_json.mimeType=="image/jpeg" or file_json.mimeType=="image/png" or  file_json.mimeType=="image/x-photoshop" %}
                                <img src="http://{{hostname}}/service/gdrive/thumbnail/{{file_json|google_drive_thumbnail_filename}}" class="col-xs-12"/>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {# {% if gdrive_user %}
            {% for file in gdrive_files %}
            {% set file_json = file.json|json_decode(true) %}
                <div class="content container col-xs-6 col-lg-2">
                    {% if file_json.mimeType=="image/jpeg" or file_json.mimeType=="image/png" or  file_json.mimeType=="image/x-photoshop" %}
                    <img src="http://{{hostname}}/service/gdrive/thumbnail/{{file_json|google_drive_thumbnail_filename}}" class="col-xs-12"/>
                    {% endif %}
                    <a href="{{file_json.webViewLink|raw}}" class="title"><img src="{{file_json.iconLink|raw}}" /> {{file_json.name|raw}}</a>
                    <br />
                    <span class="date">{{file_json.modifiedByMeTime|time_ago}}</span>
                    <br />
                    <label class="tag">{{file_json.folder|raw|google_drive_foldername}}</label><br />
                </div>
                {% if loop.index is divisible by(6) %}
                <div class="row"></div>
                {% endif %}
            {% endfor %}
        {% endif %} #}
    </div>
    <div class="container-fluid col-xs-12 content-container hidden" data-service="pocket">
        <!-- <h1><img src="/img/service/pocket/logo_sm.png" class="service-logo"/>Pocket</h1> -->
        {% for article in pocket_articles %}
        {% set article_json = article.json|json_decode(true) %}
            <div class="content container col-xs-6 col-lg-4">
                {# <pre>{{article_json|print_r}}</pre> #}
                <a href="{{article_json.resolved_url|raw}}" class="title">{{article_json.resolved_title|raw}}</a>
                <br />
                <span class="date">{{article_json.time_added|date_format('l F j, Y, g:i a')|time_ago}}</span>
                {% if article_json.favorite == 1 %} +1 {% endif %}
                <br />
                {% if article_json.has_image %}
                    <img src="{{article_json.image.src}}" class="col-xs-12"/>
                    <br />
                {% endif %}
                <blockquote>{{article_json.excerpt|raw}}</blockquote>
                {% if article_json.tags|length > 0 %}
                    {% for k, tag in article_json.tags %}
                    <label class="tag">{{k}}</label>
                    {% endfor %}
                    <br />
                {% endif %}
                <a href="{{article_json.resolved_url|raw}}" class="btn btn-info btn-sm">{{article_json.resolved_url|url_hostname}}</a>
                <a href="https://getpocket.com/a/read/{{article_json.item_id}}" class="btn btn-primary-outline btn-sm"><img src="//{{hostname}}/img/service/pocket/logo_sm.png" class="service-logo-manage"/> Manage</a>
            </div>
            {% if loop.index is divisible by(3) %}
            <div class="row"></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container-fluid col-xs-12 content-container hidden" data-service="youtube">
        <!-- <h1><img src="/img/service/youtube/logo_sm.png" class="service-logo"/> Youtube</h1> -->
        {% if gdrive_user %}
            {# }<pre>{{ gdrive_user|print_r }}</pre> #}
            {% for video in youtube_watchlater_videos %}
            {% set v = video.json|json_decode(true) %}
                <div class="content container col-xs-6 col-lg-3">
                    {# }<pre>{{v|print_r}}</pre> #}
                    <a href="https://www.youtube.com/watch?v={{v.snippet.resourceId.videoId|raw}}" class="title">{{v.snippet.title|raw}}</a><br />

                    <span class="date">{{v.snippet.publishedAt|time_ago}}</span>

                    <img src="{{v.snippet.thumbnails.high.url}}" class="col-xs-12"/>
                    <br />
                    <blockquote>{{v.snippet.description|raw}}</blockquote>
                </div>
                {% if loop.index is divisible by(4) %}
                <div class="row"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/likedrop.js"></script>
{% endblock %}
