{% extends 'layout.html.twig' %}
{% block title %} - Project {{project.id == "" ? " Create" : "Edit"}}{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li><a href="/projects">Projects</a></li>
        <li class="active">{{project.id == "" ? " Create" : "Edit"}}</li>
    </ol>
    <div class="container col-xs-12">
        <form id="project-form">
            <input type="hidden" name="id" value="{{project.id}}" />
            <div class="form-group row">
                <label for="project_name" class="col-xs-2 form-control-label">Name</label>
                <div class="col-xs-10">
                    <input class="form-control" name="name" value="{{project.name}}" id="name" placeholder="Project Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="project_name" class="col-xs-2 form-control-label">Description</label>
                <div class="col-xs-10 markdown-edit">
                    <textarea class="form-control markdown-edit-editor" name="description" id="description" placeholder="Project Description" rows="10">{{project.description}}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-10 col-xs-offset-2">
                    <a class="btn btn-success submit-button">Save</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/project.js"></script>
{% endblock %}
