{% extends 'layout.html.twig' %}
{% block title %} - Projects{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li class="active">Projects</li>
    </ol>
    <br />
    <div class="row container-fluid">
        <div class="container-fluid col-xs-12">
            {% for project in projects %}
                <div class="card col-xs-12 col-lg-4">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="display-5" href="/project/{{project.id}}">{{project.name}}</a>
                                <br />
                                <span class="date">modified {{project.date_updated|time_ago}}</span>
                                <span class="muted">(created  {{project.date_added|time_ago}})</span>
                            </div>
                        </div>

                    </div>
                    <div class="card-block">
                        <blockquote>{{project.description|markdown}}</blockquote>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="display-5 col-xs-6">Storyboards</div>
                            <div class="col-xs-6 pull-right">
                            <a class="btn btn-sm btn-success-outline"  href="/project/{{project.id}}/storyboard/ceate">New</a></div>
                        </div>
                        {% if project.storyboards|length > 0 %}
                            {% for storyboard in project.storyboards %}
                                <div class="card col-xs-12">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                {{storyboard.name}}
                                            </div>
                                            <div class="col-xs-6 pull-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-secondary-outline btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}">Edit</a>
                                                        <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/create">New Panel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="container col-xs-12 muted">
                                    <a   href="/project/{{project.id}}/storyboard/ceate">create a storyboard</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if loop.index is divisible by(3) %}
                <div class="row"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/projects.js"></script>
{% endblock %}
