{% extends 'layout.html.twig' %}
{% block title %} - Projects{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li><a href="/projects">Projects</a></li>
        <li class="active"><a href="/project/{{project.id}}/detail">{{project.name}}</a></li>
        <li class="active">Detail</li>
    </ol>
    <br />
    <div class="row container-fluid">
        <div class="container-fluid col-xs-12 card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-9">
                                <a class="display-5" href="/project/{{project.id}}">{{project.name}}</a>
                                <br />
                                <span class="date">modified {{project.date_updated|time_ago}}</span>
                                <span class="muted">(created {{project.date_added|time_ago}})</span>
                            </div>
                            <div class="col-xs-3 pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary-outline btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/project/{{project.id}}">Edit</a>
                                        <a class="dropdown-item" href="/project/{{project.id}}/user/add">Add User</a>
                                        <a class="dropdown-item" href="/project/{{project.id}}/character/create">New Character</a>
                                        <a class="dropdown-item" href="/project/{{project.id}}/storyboard/create">New Storyboard</a>
                                        <a class="dropdown-item" href="/project/{{project.id}}/concept_art/create">New Concept Art</a>
                                        <a class="dropdown-item" href="/project/{{project.id}}/location/create">New Location</a>
                                        <a class="dropdown-item" href="/project/{{project.id}}/reference_image/create">New Reference Image</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-block">
                        <blockquote>{{project.description|markdown}}</blockquote>
                    </div>

                    <!-- CHARACTERS -->

                    <div class="card-block">
                        <div class="row">
                            <div class="display-5 col-xs-6">Characters</div>
                        </div>
                        {% if project.characters|length > 0 %}
                            <div class="row sortable-characters" data-id="{{project.id}}" data-column-count="6">
                            {% for character in project.characters %}
                            {% set current_revision_id = "" %}
                                <div class="card col-xs-12 col-lg-2 sortable" data-id="{{character.id}}">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                {% if character.revisions|length == 0 %}
                                                    <div class="muted container">
                                                        <a href="/project/{{project.id}}/character/{{character.id}}/revision/create">create a revision</a>
                                                    </div>
                                                {% else %}
                                                    {% for revision in character.revisions %}
                                                        {% if loop.index == 1 %}
                                                            {% set current_revision_id = revision.id %}
                                                            <img src="{{revision.content}}" />
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                <div class="row container card-controls">
                                                    {% set sort_order = character.sort_order + 1%}
                                                    <i class="fa fa-reorder fa-sm handle" title="reorder"></i><span class="sort_order">{{sort_order}}</span>
                                                    {% if character.revisions|length > 1 %}
                                                        <i class="fa fa-history fa-sm" title="comments"></i>{{character.revisions|length}}
                                                    {% endif %}
                                                </div>
                                                 {{character.name}}
                                            </div>
                                        </div>
                                        <div class="btn-group col-xs-12">
                                            <button type="button" class="btn btn-secondary-outline btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/project/{{project.id}}/character/{{character.id}}">Edit Character</a>
                                                <a class="dropdown-item" href="/project/{{project.id}}/character/{{character.id}}/revision/create">New Character Revision</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index is divisible by(6) %}
                                <div class="sortable-row-divider"></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% else %}
                            <div class="container col-xs-12 muted">
                                    <a   href="/project/{{project.id}}/character/ceate">create a character</a>
                            </div>
                        {% endif %}
                    </div>

                    <!-- STORYBOARDS -->

                    <div class="card-block">
                        <div class="row">
                            <div class="display-5 col-xs-6">Storyboards</div>
                        </div>
                        {% if project.storyboards|length > 0 %}
                            <div class="row sortable-storyboards" data-id="{{project.id}}" data-column-count="1">
                            {% for storyboard in project.storyboards %}
                                <div class="card col-xs-12 sortable" data-id="{{storyboard.id}}">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <i class="fa fa-reorder fa-lg handle" title="reorder"></i> {{storyboard.name}}
                                            </div>
                                            <div class="col-xs-6 pull-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-secondary-outline btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}">Edit</a>
                                                        <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/create">New Panel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row container sortable-panels" data-id="{{storyboard.id}}" data-column-count="2">
                                            {% if storyboard.panels|length == 0 %}
                                                <div class="muted container">
                                                    <a href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/create">create a panel</a>
                                                </div>
                                            {% else %}
                                                {% for panel in storyboard.panels %}
                                                {% set current_revision_id = "" %}
                                                <div class="card col-xs-12 col-lg-5 sortable" data-id="{{panel.id}}">
                                                        {% if panel.revisions|length == 0 %}
                                                            <div class="muted container col-xs-12">
                                                                <a href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/{{panel.id}}/revision/create">create a revision</a>
                                                            </div>
                                                        {% else %}
                                                            {% for revision in panel.revisions %}
                                                                {% if loop.index == 1 %}
                                                                    {% set current_revision_id = revision.id %}
                                                                    <img src="{{revision.content}}" />
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                        <div class="row container card-controls">
                                                            {% set sort_order = panel.sort_order + 1 %}
                                                            <i class="fa fa-reorder fa-sm handle" title="reorder"></i><span class="sort_order">{{sort_order}}</span>
                                                            {% if panel.revisions|length > 1 %}
                                                            <i class="fa fa-history fa-sm" title="comments"></i>{{panel.revisions|length}}
                                                            {% endif %}
                                                            {% if panel.comments|length > 1 %}
                                                            <i class="fa fa-comments fa-sm" title="comments"></i>{{panel.comments|length}}
                                                            {% endif %}
                                                        </div>
                                                        <span class="muted">{{panel.name}}</span><br />
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-secondary-outline btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}}/panel/{{panel.id}}">Edit Panel</a>
                                                                {% if current_revision_id != "" %}
                                                                    <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/{{panel.id}}/revision/{{current_revision_id}}">Edit Current Revision</a>
                                                                {% endif %}
                                                                <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/{{panel.id}}/revision/create">New Panel Revision</a>
                                                                <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/{{panel.id}}/comment/create">New Panel Comment</a>
                                                            </div>
                                                        </div>
                                                </div>

                                                {% if loop.index is divisible by(2) %}
                                                <div class="sortable-row-divider"></div>
                                                {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                {% if loop.index is divisible by(1) %}
                                <div class="sortable-row-divider"></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% else %}
                            <div class="container col-xs-12 muted">
                                    <a   href="/project/{{project.id}}/storyboard/ceate">create a storyboard</a>
                            </div>
                        {% endif %}
                    </div>

                    <!-- CONCEPT ART -->

                    <div class="card-block">
                        <div class="row">
                            <div class="display-5 col-xs-6">Concept Art</div>
                        </div>
                        {% if project.concept_art|length > 0 %}
                            <div class="row sortable-concept_arts" data-id="{{project.id}}" data-column-count="6">
                            {% for concept_art in project.concept_art %}
                            {% set current_revision_id = "" %}
                                <div class="card col-xs-12 col-lg-2 sortable" data-id="{{concept_art.id}}">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                {% if concept_art.revisions|length == 0 %}
                                                    <div class="muted container">
                                                        <a href="/project/{{project.id}}/concept_art/{{concept_art.id}}/revision/create">create a revision</a>
                                                    </div>
                                                {% else %}
                                                    {% for revision in concept_art.revisions %}
                                                        {% if loop.index == 1 %}
                                                            {% set current_revision_id = revision.id %}
                                                            <img src="{{revision.content}}" />
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                                <div class="row container card-controls">
                                                    {% set sort_order = concept_art.sort_order + 1%}
                                                    <i class="fa fa-reorder fa-sm handle" title="reorder"></i><span class="sort_order">{{sort_order}}</span>
                                                    {% if concept_art.revisions|length > 1 %}
                                                        <i class="fa fa-history fa-sm" title="comments"></i>{{concept_art.revisions|length}}
                                                    {% endif %}
                                                </div>
                                                 {{concept_art.name}}
                                            </div>
                                        </div>
                                        <div class="btn-group col-xs-12">
                                            <button type="button" class="btn btn-secondary-outline btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/project/{{project.id}}/concept_art/{{concept_art.id}}">Edit Concept Art</a>
                                                <a class="dropdown-item" href="/project/{{project.id}}/concept_art/{{concept_art.id}}/revision/create">New Concept Art Revision</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index is divisible by(6) %}
                                <div class="sortable-row-divider"></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% else %}
                            <div class="container col-xs-12 muted">
                                    <a   href="/project/{{project.id}}/concept_art/ceate">create concept art</a>
                            </div>
                        {% endif %}
                    </div>

                    <!-- REFERENCE IMAGES -->

                    <div class="card-block">
                        <div class="row">
                            <div class="display-5 col-xs-6">Reference Images</div>
                        </div>
                        {% if project.reference_images|length > 0 %}
                            <div class="row sortable-reference_images" data-id="{{project.id}}" data-column-count="6">
                            {% for reference_image in project.reference_images %}
                            {% set current_revision_id = "" %}
                                <div class="card col-xs-12 col-lg-2 sortable" data-id="{{reference_image.id}}">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <img src="{{reference_image.content}}" />
                                                <div class="row container card-controls">
                                                    {% set sort_order = reference_image.sort_order + 1%}
                                                    <i class="fa fa-reorder fa-sm handle" title="reorder"></i><span class="sort_order">{{sort_order}}</span>
                                                    {% if reference_image.revisions|length > 1 %}
                                                        <i class="fa fa-history fa-sm" title="comments"></i>{{reference_image.revisions|length}}
                                                    {% endif %}
                                                </div>
                                                 {{reference_image.name}}
                                            </div>
                                        </div>
                                        <div class="btn-group col-xs-12">
                                            <button type="button" class="btn btn-secondary-outline btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/project/{{project.id}}/reference_image/{{reference_image.id}}">Edit Reference Image</a>
                                                <a class="dropdown-item" href="/project/{{project.id}}/reference_image/{{reference_image.id}}/revision/create">New Reference Image Revision</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index is divisible by(6) %}
                                <div class="sortable-row-divider"></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% else %}
                            <div class="container col-xs-12 muted">
                                    <a   href="/project/{{project.id}}/reference_image/ceate">create a reference image</a>
                            </div>
                        {% endif %}
                    </div>

                    <!-- LOCATIONS -->

                    <div class="card-block">
                        <div class="row">
                            <div class="display-5 col-xs-6">Locations</div>
                        </div>
                        {% if project.locations|length > 0 %}
                            <div class="row sortable-locations" data-id="{{project.id}}" data-column-count="6">
                            {% for location in project.locations %}
                            {% set current_revision_id = "" %}
                                <div class="card col-xs-12 col-lg-2 sortable" data-id="{{location.id}}">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <img src="{{location.content}}" />
                                                <div class="row container card-controls">
                                                    {% set sort_order = location.sort_order + 1%}
                                                    <i class="fa fa-reorder fa-sm handle" title="reorder"></i><span class="sort_order">{{sort_order}}</span>
                                                    {% if location.revisions|length > 1 %}
                                                        <i class="fa fa-history fa-sm" title="comments"></i>{{location.revisions|length}}
                                                    {% endif %}
                                                </div>
                                                 {{location.name}}
                                            </div>
                                        </div>
                                        <div class="btn-group col-xs-12">
                                            <button type="button" class="btn btn-secondary-outline btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/project/{{project.id}}/location/{{location.id}}">Edit location</a>
                                                <a class="dropdown-item" href="/project/{{project.id}}/location/{{location.id}}/revision/create">New location Revision</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if loop.index is divisible by(6) %}
                                <div class="sortable-row-divider"></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% else %}
                            <div class="container col-xs-12 muted">
                                    <a   href="/project/{{project.id}}/location/ceate">create a location</a>
                            </div>
                        {% endif %}
                    </div>

                    <!-- USERS -->

                    <div class="card-block">
                        <div class="row">
                            <div class="display-5 col-xs-6">Users</div>
                        </div>
                        {% for user in project.users %}
                            <div class="row">
                                <div class="col-xs-6">{{user.username}}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if loop.index is divisible by(2) %}
                <div class="row"></div>
                {% endif %}
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/project_detail.js"></script>
{% endblock %}
