{% extends 'layout.html.twig' %}
{% block title %} - Projects{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li class="active">Projects</li>
    </ol>
    <br />
    <div class="row container-fluid">
        <div class="container-fluid col-xs-12">
            {% for project in projects %}
                <div class="card col-xs-12 col-lg-4">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-8">
                                <a class="display-5" href="/project/{{project.id}}">{{project.name}}</a>
                                <br />
                                <span class="date">modified {{project.date_updated|time_ago}}</span>
                                <span class="muted">(created {{project.date_added|time_ago}})</span>
                            </div>
                            <div class="col-xs-4 pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary-outline btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/project/{{project.id}}">Edit</a>
                                        <a class="dropdown-item" href="/project/{{project.id}}/storyboard/create">New Storyboard</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-block">
                        <blockquote>{{project.description|markdown}}</blockquote>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="display-5 col-xs-6">Storyboards</div>
                        </div>
                        {% if project.storyboards|length > 0 %}
                            <div class="row sortable-storyboards" data-id="{{project.id}}">
                            {% for storyboard in project.storyboards %}
                                <div class="card col-xs-12" data-id="{{storyboard.id}}">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <i class="fa fa-reorder fa-lg handle" title="reorder"> </i> {{storyboard.name}}
                                            </div>
                                            <div class="col-xs-6 pull-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-secondary-outline btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}">Edit</a>
                                                        <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/create">New Panel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row container">
                                            {% if storyboard.panels|length == 0 %}
                                                <div class="muted container">
                                                    <a href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/create">create a panel</a>
                                                </div>
                                            {% else %}
                                                {% for panel in storyboard.panels %}
                                                {% set current_revision_id = "" %}
                                                <div class="col-xs-12 col-lg-4">
                                                    <div class="card container">
                                                        {% if panel.revisions|length == 0 %}
                                                            <div class="muted container">
                                                                <a href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/{{panel.id}}/revision/create">create a revision</a>
                                                            </div>
                                                        {% else %}
                                                            {% for revision in panel.revisions %}
                                                                {% if loop.index == 1 %}
                                                                    {% set current_revision_id = revision.id %}
                                                                    <img src="{{revision.content}}" />
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                        <br />
                                                        <span class="muted">{{panel.name}}</span><br />
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-secondary-outline btn-sm btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}}/panel/{{panel.id}}">Edit Panel</a>
                                                                {% if current_revision_id != "" %}
                                                                    <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/{{panel.id}}/revision/{{current_revision_id}}">Edit Current Revision</a>
                                                                {% endif %}
                                                                <a class="dropdown-item" href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/{{panel.id}}/revision/create">New Panel Revision</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% else %}
                            <div class="container col-xs-12 muted">
                                    <a   href="/project/{{project.id}}/storyboard/ceate">create a storyboard</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if loop.index is divisible by(3) %}
                <div class="row"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/projects.js"></script>
{% endblock %}
