{% extends 'layout.html.twig' %}
{% block title %} - Projects{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li class="active">Projects</li>
    </ol>
    <br />
    <div class="row container-fluid">
        <div class="container-fluid col-xs-12">
            {% for project in projects %}
                <div class="card col-xs-12 col-lg-6">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-9">
                                <a class="display-5" href="/project/{{project.id}}/detail">{{project.name}}</a>
                                <br />
                                <span class="date">modified {{project.date_updated|time_ago}}</span>
                                <span class="muted">(created {{project.date_added|time_ago}})</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <blockquote>{{project.description|truncate|markdown}}</blockquote>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="display-5 col-xs-6">Characters</div>
                        </div>
                        {% if project.characters|length > 0 %}
                            <div class="row">
                            {% for character in project.characters %}
                                {% if loop.index < 6 %}
                                <div class="card col-xs-12 col-lg-2">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                    {% if character.revisions|length == 0 %}
                                                        <div class="muted container">
                                                            <!-- <a href="/project/{{project.id}}/character/{{character.id}}/revision/create">create a revision</a> -->
                                                        </div>
                                                    {% else %}
                                                        {% for revision in character.revisions %}
                                                            {% if loop.index == 1 %}
                                                                {% set current_revision_id = revision.id %}
                                                                <img src="{{revision.content}}" />
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    <div class="row container card-controls">
                                                        {% if character.revisions|length > 1 %}
                                                            <i class="fa fa-history fa-sm" title="comments"></i>{{character.revisions|length}}
                                                        {% endif %}
                                                    </div>
                                                    <span class="muted">{{character.name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% elseif loop.index == 6 %}
                                <div class="card col-xs-12 col-lg-2">
                                    <div class="card-block muted">
                                        {% set remainder = (project.characters|length - 5) %}
                                        + {{remainder}} more
                                    </div>
                                </div>
                                {% endif %}
                                {% if loop.index is divisible by(6) %}
                                <div class="sortable-row-divider"></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% else %}
                            <div class="container col-xs-12 muted">
                                    <!-- <a href="/project/{{project.id}}/character/ceate">create a character</a> -->
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="display-5 col-xs-6">Storyboards</div>
                        </div>
                        {% if project.storyboards|length > 0 %}
                            <div class="row" >
                            {% for storyboard in project.storyboards %}
                                <div class="card col-xs-12">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                {{storyboard.name}}
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row container sortable-panels" data-id="{{storyboard.id}}" data-column-count="2">
                                            {% if storyboard.panels|length == 0 %}
                                                <div class="muted container">
                                                    <!-- <a href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/create">create a panel</a> -->
                                                </div>
                                            {% else %}
                                                {% for panel in storyboard.panels %}
                                                {% if loop.index < 6 %}
                                                <div class="card col-xs-12 col-lg-2">
                                                        {% if panel.revisions|length == 0 %}
                                                            <div class="muted container col-xs-12">
                                                                <!-- <a href="/project/{{project.id}}/storyboard/{{storyboard.id}}/panel/{{panel.id}}/revision/create">create a revision</a> -->
                                                            </div>
                                                        {% else %}
                                                            {% for revision in panel.revisions %}
                                                                {% if loop.index == 1 %}
                                                                    {% set current_revision_id = revision.id %}
                                                                    <img src="{{revision.content}}" />
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                        <div class="row container card-controls">
                                                            {% if panel.revisions|length > 1 %}
                                                            <i class="fa fa-history fa-sm" title="comments"></i>{{panel.revisions|length}}
                                                            {% endif %}
                                                            {% if panel.comments|length > 1 %}
                                                            <i class="fa fa-comments fa-sm" title="comments"></i>{{panel.comments|length}}
                                                            {% endif %}
                                                        </div>
                                                        <span class="muted">{{panel.name}}</span><br />
                                                </div>
                                                {% elseif loop.index == 6 %}
                                                <div class="card col-xs-12 col-lg-2">
                                                    <div class="card-block muted">
                                                        {% set remainder = (storyboard.panels|length - 5) %}
                                                        + {{remainder}} more
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if loop.index is divisible by(6) %}
                                                <div class="sortable-row-divider"></div>
                                                {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                {% if loop.index is divisible by(1) %}
                                <div class="sortable-row-divider"></div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% else %}
                            <div class="container col-xs-12 muted">
                                    <!-- <a   href="/project/{{project.id}}/storyboard/ceate">create a storyboard</a> -->
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if loop.index is divisible by(2) %}
                <div class="row"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/projects.js"></script>
{% endblock %}
