<div class="container col-xs-12">
    <div class="container col-xs-12">
        <h2><img src="{{hostname}}/img/service/gdrive/logo_sm.png" class="service-logo"/> Google Drive</h2>

        {#<p>You saved <span class="number">{{gdrive_files|length}}</span> gdrive file(s).</p>#}
    </div>

    {% for file in gdrive_files %}
    {% set file_json = file.json|json_decode(true) %}
        <div class="content container col-xs-12">
            {# <pre>{{file_json|print_r}}</pre> #}
            <a href="{{file_json.webViewLink|raw}}" class="title"><img src="{{file_json.iconLink|raw}}" /> {{file_json.name|raw}}</a>
            <br />
            {{file_json.folder|raw}}<br />
            <span class="date">{{file_json.modifiedByMeTime|date_format_string('l F j, Y, g:i a')}}</span>
        </div>
    {% endfor %}
</div>
