<div class="row">
    <div class="display-5"><img src="{{hostname}}/img/service/gdrive/logo_sm.png" class="service-logo"/> Google Drive Files</div>
</div>
<div class="row">
    {% for file in gdrive_files %}
    {% set file_json = file.json|json_decode(true) %}
        <div class="card col-xs-10">
            <div class="card-block">
                <div class="display-5">{{file_json.name|raw}}</div>
                {% if file_json.mimeType=="image/jpeg" or file_json.mimeType=="image/png" or  file_json.mimeType=="image/x-photoshop" %}
                <img src="http://{{hostname}}/service/gdrive/thumbnail/{{file_json|google_drive_thumbnail_filename}}" class="content-image" title="{{file_json.name|raw}}" alt="{{file_json.name|raw}}"/><br />
                {% endif %}
                <div class="row col-xs-12">
                    <a href="{{file_json.webViewLink|raw}}" class="btn btn-secondary col-xs-11"><img src="{{file_json.iconLink|raw}}" /></a>
                </div>
                <br />
                <label class="tag">{{file_json.folder|raw|google_drive_foldername}}</label><br />
                <div class="date row text-align-right">{{file_json.modifiedByMeTime|time_ago}}</div>
            </div>
        </div>
    {% endfor %}
</div>
