<div class="row">
    <div class="display-5"><img src="{{hostname}}/img/service/gdrive/logo_sm.png" class="service-logo"/> Google Drive Files</div>
</div>
<div class="row container col-xs-10">
    <table class="table table-striped">
        <tbody>
        {% for file in gdrive_files %}
        {% set file_json = file.json|json_decode(true) %}
                <tr>
                    <td>
                        {% set hasImage = false %}
                        {% if file_json.mimeType=="image/jpeg" or file_json.mimeType=="image/png" or  file_json.mimeType=="image/x-photoshop" %}
                            {% set hasImage = true %}
                                <img src="http://{{hostname}}/service/gdrive/thumbnail/{{file_json|google_drive_thumbnail_filename}}" class="img-email-main" title="{{file_json.name|raw}}" alt="{{file_json.name|raw}}"/>

                        {% endif %}
                    </td>
                    <td {% if hasImage == true %} colspan="2"{% endif %}>
                        <strong>{{file_json.name|raw}}</strong>
                        <a href="{{file_json.webViewLink|raw}}"><img src="{{file_json.iconLink|raw}}" /></a>
                        <br />
                        <span class="date">{{file_json.modifiedByMeTime|time_ago}}</span>
                        <br />
                        <label class="tag">{{file_json.folder|raw|google_drive_foldername}}</label><br />
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
