<h2>Pocket Articles</h2>

<p>You saved <span class="number">{{pocket_articles|length}}</span> article(s).<br />
What the fuck you gonna do with them?</p>

{% for article in pocket_articles %}
{% set article_json = article.json|json_decode %}

<div class="content">
    <a href="{{article_json.resolved_url|raw}}" class="title">{{article_json.resolved_title|raw}}</a>
    <br />
    {{article_json.time_added|date_format('l Y-m-d h:i:sa')}}
    {% if article_json.favorite == 1 %} +1 {% endif %}
    <br />
    {% if article_json.has_image %}
        <img src="{{article_json.image.src}}" />
    {% endif %}
    <br />
    <blockquote>{{article_json.excerpt|raw}}</blockquote>
</div>

{% endfor %}
