<div class="row">
    <div class="display-5"><img src="{{hostname}}/img/service/pocket/logo_sm.png" class="service-logo"/> Pocket Articles</div>
</div>
<div class="row">
    {% for article in pocket_articles %}
    {% set article_json = article.json|json_decode(true) %}
        <div class="card col-xs-10">
            <div class="card-block">
                <div class="display-5">{{article_json.resolved_title|raw}}</div>
                <div><a href="{{article_json.resolved_url|raw}}">{{article_json.resolved_url|url_hostname}}</a></div>
                {% if article_json.has_image %}
                    <img src="{{article_json.image.src}}" />
                {% endif %}
                <blockquote>{{article_json.excerpt|raw}}</blockquote>
                <div class="row col-xs-12">
                    <a href="https://getpocket.com/a/read/{{article_json.item_id}}" class="btn btn-secondary col-xs-11"><img src="{{hostname}}/img/service/pocket/logo_sm.png" class="service-logo-manage"/></a>
                </div>
                <br />
                {% if article_json.tags|length > 0 %}
                    {% for k, tag in article_json.tags %}
                    <label class="tag">{{k}}</label>
                    {% endfor %}
                    <br />
                {% endif %}
                <div class="date row text-align-right">{{article_json.time_added|date_format('l F j, Y, g:i a')|time_ago}}</div>
            </div>
        </div>
    {% endfor %}
</div>
