<div class="row">
    <div class="display-5"><img src="{{hostname}}/img/service/spotify/logo_sm.png" class="service-logo"/> Spotify Tracks</div>
</div>
<div class="row">
    <table class="table table-striped">
        <tbody>
        {% for track in spotify_tracks %}
        {% set t = track.json|json_decode(true) %}
        <tr>
            <td>
                {% for pic in t.track.album.images %}
                    {% if pic.width >= 600 and pic.width < 900 %}
                        <a href="{{t.track.external_urls.spotify}}"><img src="{{pic.url}}" class="img-email-main"/></a>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <strong>{{t.track.name|raw}}</strong>
                <br />
                from {{t.track.album.name}}
                <br />
                {% for artist in t.track.artists %}
                    <div>by {{artist.name}}</div>
                {% endfor %}
                <br />
                <a href="{{t.track.external_urls.spotify}}"><img src="{{hostname}}/img/service/spotify/logo_sm.png" class="service-logo-manage"/></a>
                <span class="date">{{track.date_added|time_ago}}</span>
                <br />
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
