<div class="row">
    <div class="display-5"><img src="{{hostname}}/img/service/vimeo/logo_sm.png" class="service-logo"/> Vimeo Watch Later</div>
</div>
<div class="row">
    <table class="table table-striped">
        <tbody>
        {% for video in vimeo_watchlater_videos %}
        {% set v = video.json|json_decode(true) %}
        <tr>
            <td>
                {% for pic in v.pictures.sizes %}
                    {% if pic.width >= 600 and pic.width < 900 %}
                        <img src="{{pic.link}}" class="img-email-main"/>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {{v.description|truncate(200)|raw}}
                <br /><br />
                <a href="{{v.link}}"><img src="{{hostname}}/img/service/vimeo/logo_sm.png" class="service-logo-manage"/></a>
                <span class="date">{{video.date_added|time_ago}}</span>
                <br />
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
