<div class="row">
    <div class="display-5"><img src="{{hostname}}/img/service/youtube/logo_sm.png" class="service-logo"/> YouTube Watch Later</div>
</div>
<div class="row">
    <table class="table table-striped">
        <tbody>
        {% for video in youtube_watchlater_videos %}
        {% set v = video.json|json_decode(true) %}
        <tr>
            <td>
                <img src="{{v.snippet.thumbnails.high.url}}" class="img-email-main"/>
            </td>
            <td>
                <strong>{{v.snippet.title|raw}}</strong><br />
                {{v.snippet.description|truncate(300)|raw}}
                <br /><br />
                <a href="https://www.youtube.com/watch?v={{v.snippet.resourceId.videoId|raw}}"><img src="{{hostname}}/img/service/youtube/logo_sm.png" class="service-logo-manage"/></a>
                <span class="date">{{v.snippet.publishedAt|time_ago}}</span>
                <br />
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
