<div class="row">
    <div class="display-5"><img src="{{hostname}}/img/service/youtube/logo_sm.png" class="service-logo"/> YouTube Watch Later</div>
</div>
<div class="row">
    {% for video in youtube_watchlater_videos %}
    {% set v = video.json|json_decode(true) %}
        <div class="card col-xs-10">
            <div class="card-block">
                <div class="display-5">{{v.snippet.title|raw}}</div>
                <img src="{{v.snippet.thumbnails.high.url}}" /><br />
                <blockquote>{{v.snippet.description|truncate(300)|raw}}</blockquote>
                <div class="row col-xs-12">
                    <a href="https://www.youtube.com/watch?v={{v.snippet.resourceId.videoId|raw}}" class="btn btn-secondary col-xs-11"><img src="{{hostname}}/img/service/youtube/logo_sm.png" class="service-logo-manage"/></a>
                </div>
                <br />
                <div class="date row text-align-right">{{v.snippet.publishedAt|time_ago}}</div>
            </div>
        </div>
    {% endfor %}
</div>
