<div class="card col-lg-{{columns}}">
    <div class="card-block">
        <h2 class="card-title">{{article.resolved_title}}</h2>
    </div>
    {% if article.has_image == 1 %}
        <a href="{{article.resolved_url}}" target="_blank"><img src="{{article.image.src}}" title="View"/></a>
    {% endif %}
    <div class="card-block clearfix">
        <small class="card-subtitle text-muted">{{article.excerpt}}</small>
        <br /><br />
        <a href="{{article.resolved_url}}" target="_blank" class="btn btn-success-outline btn-sm pull-right" title="View"><i class="fa fa-external-link"></i> {{article.resolved_url|url_hostname}}</a>
    </div>
</div>
