<div class="card col-lg-{{columns}}">
    <div class="card-block">
        <a href="projects/{{slug}}" title="View"><h2 class="card-title">{{project.title}}</h2></a>
    </div>
    <a href="projects/{{slug}}" title="View"><img src="{{project.image}}" /></a>
    <div class="card-block clearfix">
        <p class="card-subtitle text-muted">{{project.blurb|markdown}}</p>
        {% for tag in project.tags %}
        <span class="label label-info">{{tag}}</span>
        {% endfor %}
        <br />
        <br />
        <!-- <a href="projects/{{slug}}" type="button" class="btn btn-success-outline btn-sm pull-right">View</a> -->
    </div>
</div>
