{% extends 'layout-email.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
        <div class="container col-xs-12">
            <div class="header-section container col-xs-12">
                <h1>LikeDrop Daily Email</h1>
                <p><span class="username">{{user.username}}</span>, here lie the footsteps of a gimp hobbling across the internet for the last 24 hours.<br />
                <span class="date">{{from|date_format}}</span> to <span class="date">{{until|date_format}}</span>:</p>
            </div>
            <div class="service-section container col-xs-12">
                {% include 'emails/partials/pocket_articles.html.twig' with {'pocket_articles': pocket_articles} %}
            </div>
        </div>
{% endblock %}
